@page "/About"

<main>
    <section class="section is-size-4">
        <h1 class="title is-1">About</h1>
        <p class="block">
            Ocellus is a tiny wiki for Elite: Dangerous inspired by <a href="https://coriolis.io">coriolis.io</a>.
            The name comes from the "Ocellus" station type in the game, similar to "Coriolis".
        </p>
        <div class="is-flex is-flex-wrap-wrap">
            <figure class="block m-3">
                <img src="Ocellus-station.webp" alt="Ocellus station type" class="about-page-image"/>
                <p class="subtitle block">
                    Ocellus station type
                </p>
            </figure>
            <figure class="block m-3">
                <img src="Coriolis-station.webp" alt="Coriolis station type" class="about-page-image"/>
                <p class="subtitle block">
                    Coriolis station type
                </p>
            </figure>
        </div>
        <p class="block">
            On the backend, the website uses 
            <a href="https://blazor.net">Blazor</a> 
            (with <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/components/render-modes?view=aspnetcore-8.0">
                static server-side rendering</a>)
            and <a href="https://asp.net">ASP.NET.</a> 
            On the frontend, it uses the 
            <a href="https://bulma.io">Bulma</a> CSS framework.
        </p>
        <p class="block">
            The project was created for a homework task at my university.
        </p>
    </section>
    <section class="section is-size-4">
        <h1 class="title is-1">Contacts</h1>
        <ul>
            <li>
                My
                <a href="https://github.com/Deeplerg/">
                    GitHub
                    <img src="github.svg" alt="GitHub icon" class="contacts-icon"/>
                </a>
            </li>
            <li>
                My 
                <a href="https://discord.com">
                    Discord
                    <img src="discord.svg" alt="GitHub icon" class="contacts-icon"/>
                </a>
                : @@deeplerg
            </li>
        </ul>
    </section>
</main>

@code {
    
}