<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ocellus</title>
    <meta name="description" content="A tiny Elite: Dangerous ship wiki"/>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="app.css"/>
    @* <link rel="stylesheet" href="Ocellus.styles.css"/> *@
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="icon" href="/Ocellus.svg" type="image/svg+xml">

    <HeadOutlet/>
</head>

<body>
<Routes/>
</body>

</html>